/* === ABOUT.jsx-hez tartozó CSS feladat === */

.about-page {
  /* IDE írd a wrapper doboz beállításait (szélesség, középre igazítás, háttér stb.) */

}

.about-page h1 {
  /* IDE írd, ha nagyobb címet és alatta távolságot szeretnél */
  
}

.about-page p {
  /* IDE írd, ha halványabb szöveget szeretnél */
 
}

.about-page ul li {
  /* IDE írd, ha szeretnél távolságot a lista elemei közé */
  
}

.about-page img {
  /* IDE írd, hogy a kép ne lógjon ki, legyen középen és legyen lekerekítve */
 
}

/* IDE hozhatsz létre extra osztályokat (pl. .kijelolt, .doboz stb.) */
/* pelda MEGOLDAS: */
.kijelolt {
  
}
