/*
  FELADATOK — Frontend alapok (CSS) | KEZDŐ SZINT

  1. OLDAL ALAPBEÁLLÍTÁS
     - Állíts be betűtípust
     - Töröld az alap margót
     - Adj világos háttérszínt

  2. TARTALOM DOBOZ
     - Legyen középen
     - Szélessége legyen kb. 350px
     - Legyen belső térköze
     - Legyenek lekerekített sarkai

  3. SZÖVEG
     - Legyen középre igazítva
     - Legyen jól olvasható

  4. GOMB
     - Legyen jól látható
     - Legyen kattintható

  5. GOMB HOVER
     - Egér fölé vitelekor változzon a színe
*/

/* 1. OLDAL ALAPBEÁLLÍTÁS */
body {

}

/* 2. TARTALOM DOBOZ */
div {

}

/* 3. SZÖVEG */
p {
 
}

/* 4. GOMB */
button {
 
}

/* 5. GOMB HOVER */
button:hover {
  
}
